* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
h1,
h2,
h3 {
   font-family: "Frank Ruhl Libre", serif;
}

p {
   font-family: "Fira Sans", sans-serif;
}
.wrapper {
   margin-right: auto;
   margin-left: auto;
}

/*? Design for mobile */
@media screen and (min-width: 320px) {
   main {
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 58% 20% 100% 80% 10%;
   }

   .hello {
      background-color: #c7ddea;
      grid-column: 1/3;
      grid-row: 1/2;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      position: relative;
   }
   .hello h1 {
      font-size: 13vw;
      align-self: center;
      margin-left: 1rem;
      position: absolute;
      width: 50vw;
      margin-bottom: 10vw;
      font-weight: 600;
   }
   .hello img {
      margin-bottom: -10vw;
      width: 60%;
      height: 101%;
      position: absolute;
      margin-left: 35vw;
   }

   .my-nav {
      grid-row: 2/3;
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
      justify-items: center;
   }

   .my-nav a {
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: 800;
      color: #a8a19e;
   }

   .contact {
      grid-column: 1/3;
      grid-row: 3/4;
      background-color: #a9a19e;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
   .contact h2 {
      font-size: 11vw;
      color: white;
      margin-top: 6vw;
      width: 84vw;
      align-self: center;
   }
   .contact form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: flex-start;
      padding: 6vw;
      flex-grow: 1;
      width: 100vw;
   }
   .label-email {
      color: #e5e3e2;
      font-size: 5vw;
      font-weight: 600;
      margin-left: 2vw;
   }
   #email {
      width: -webkit-fill-available;
      height: 6vh;
      border-radius: 5px;
      border: none;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
      margin-top: 6px;
      padding: 5px;
      font-size: 4vw;
   }

   .label-message {
      color: #e5e3e2;
      font-size: 5vw;
      font-weight: 600;
      margin-left: 2vw;
      margin-top: 7px;
   }
   #message {
      width: -webkit-fill-available;
      height: 28vh;
      border-radius: 5px;
      border: none;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
      margin-top: 6px;
      padding: 5px;
      font-size: 4vw;
   }
   ::placeholder {
      font-size: 4vw;
      margin-left: 3px;
      margin-top: 5px;
      color: black;
      font-weight: bold;
   }

   .submit {
      align-self: flex-end;
      margin-top: 20px;
      width: 35vw;
      height: 7vh;
      border-radius: 30px;
      border: none;
      font-family: "Fira Sans", sans-serif;
      font-weight: 700;
      font-stretch: semi-condensed;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
      color: #333333;
   }

   .location {
      grid-column: 1/3;
      grid-row: 4/5;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .address {
      position: absolute;
      z-index: 2;
      background-color: #fab131;
      width: 85vw;
      height: 30vh;
      margin-top: -20vw;
      display: flex;
      flex-direction: column;
      padding: 1rem;
   }
   .address h2 {
      color: white;
      font-size: 10vw;
   }
   .address p {
      color: #feefd6;
   }
   .location img {
      position: absolute;
      width: 280%;
      height: 100%;
      z-index: 1;
   }
   .take-me-up {
      grid-column: 1/3;
      grid-row: 5/6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #a9a19e;
      cursor: pointer;
   }
   .take-me-up p {
      border: solid black;
      border-width: 0px 4px 4px 0px;
      display: inline-block;
      padding: 7px;
      transform: rotate(-135deg);
   }
   .take-me-up a {
      font-size: 4vw;
      cursor: pointer;
      font-family: "Fira Sans", sans-serif;
   }
}

/*? Design for desktop */
@media screen and (min-width: 641px) {
   main {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50% 10% 80% 70% 10%;
   }

   .hello {
      grid-column: 1/3;
      grid-row: 1/2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }
   .hello h1 {
      font-size: 5vw;
      margin-left: 12vw;
      position: relative;
      margin-bottom: 2vw;
      font-weight: 600;
      align-self: center;
   }
   .hello img {
      margin-bottom: -1vw;
      width: 15vw;
      height: 49vh;
      position: absolute;
      margin-left: 69vw;
   }

   .my-nav {
      grid-column: 1/3;
      grid-row: 2/3;
      display: flex;
      justify-content: space-around;
      flex-grow: 1;
   }
   .my-nav a {
      font-size: 1.5vw;
   }

   .contact {
      grid-column: 1/3;
      grid-row: 3/4;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4vw;
   }
   .contact h2 {
      font-size: 5vw;
      margin-top: 0vw;
      align-self: flex-start;
      padding-inline: inherit;
   }
   .contact form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: flex-start;
      padding: 0vw;
      width: 60vw;
      height: 66vh;
      margin-right: 11vw;
   }
   .label-email {
      color: #e5e3e2;
      font-size: 1.5vw;
      font-weight: 600;
      margin-left: 1vw;
   }
   #email {
      height: 5vh;
      margin-top: 1vh;
      font-size: 1.5vw;
   }

   .label-message {
      font-size: 1.5vw;
      margin-left: 1vw;
      margin-top: 5vh;
   }
   #message {
      height: 34vh;
      margin-top: 1vh;
      padding: 5px;
      font-size: 1.5vw;
   }
   ::placeholder {
      font-size: 1.5vw;
      margin-left: 3px;
      margin-top: 5px;
      color: black;
      font-weight: bold;
   }

   .submit {
      margin-top: 3vh;
      width: 12vw;
      height: 6vh;
   }

   .location {
      grid-column: 1/3;
      grid-row: 4/5;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
   }
   .address {
      grid-column: 1/3;
      grid-row: 4/5;
      width: 26vw;
      height: 33vh;
      padding: 1rem;
      margin-top: 0vw;
      margin-left: 10vw;
   }
   .address h2 {
      font-size: 3vw;
   }
   .address p {
      font-size: 1.2vw;
      margin-top: 1vh;
   }
   .location img {
      position: absolute;
      width: 100%;
      height: 120%;
      margin-bottom: 6vw;
   }
   .take-me-up {
      grid-column: 1/3;
      grid-row: 5/6;
   }
   .take-me-up p {
      border-width: 0px 6px 6px 0px;
      padding: 8px;
      font-size: 3vw;
   }
   .take-me-up a {
      font-size: 1vw;
   }
}
