* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
h1,
h2,
h3 {
   font-family: "Frank Ruhl Libre", serif;
}

p {
   font-family: "Fira Sans", sans-serif;
}
.wrapper {
   margin-right: auto;
   margin-left: auto;
   max-width: 960px;
}

/*? Design for mobile */
@media screen and (min-width: 320px) {
   main {
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 58% 20% 100%;
   }

   .hello {
      background-color: #c7ddea;
      grid-column: 1/3;
      grid-row: 1/2;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      position: relative;
   }
   .hello h1 {
      font-size: 13vw;
      align-self: center;
      margin-left: 1rem;
      position: absolute;
      width: 50vw;
      margin-bottom: 10vw;
      font-weight: 600;
   }
   .hello img {
      margin-bottom: -10vw;
      width: 60%;
      height: 101%;
      position: absolute;
      margin-left: 35vw;
   }

   .my-nav {
      grid-row: 2/3;
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
      justify-items: center;
   }

   .my-nav a {
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: 800;
      color: #a8a19e;
   }

   .contact {
      grid-column: 1/3;
      grid-row: 3/4;
      background-color: #a9a19e;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
   .contact h2 {
      font-size: 11vw;
      color: white;
      margin-top: 6vw;
      width: 84vw;
      align-self: center;
   }
   .contact form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: flex-start;
      padding: 6vw;
      flex-grow: 1;
      width: 100vw;
   }
   .label-email {
      color: #e5e3e2;
      font-size: 5vw;
      font-weight: 600;
      margin-left: 2vw;
   }
   #email {
      width: -webkit-fill-available;
      height: 6vh;
      border-radius: 5px;
      border: none;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
      margin-top: 6px;
      padding: 5px;
      font-size: 4vw;
   }

   .label-message {
      color: #e5e3e2;
      font-size: 5vw;
      font-weight: 600;
      margin-left: 2vw;
      margin-top: 7px;
   }
   #message {
      width: -webkit-fill-available;
      height: 28vh;
      border-radius: 5px;
      border: none;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
      margin-top: 6px;
      padding: 5px;
      font-size: 4vw;
   }
   ::placeholder {
      font-size: 4vw;
      margin-left: 3px;
      margin-top: 5px;
      color: black;
      font-weight: bold;
   }

   .submit {
      align-self: flex-end;
      margin-top: 20px;
      width: 35vw;
      height: 7vh;
      border-radius: 30px;
      border: none;
      font-family: "Fira Sans", sans-serif;
      font-weight: 700;
      font-stretch: semi-condensed;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
      color: #333333;
   }
}
